<div class="relative inline-block text-left">
    <div>
        <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50" id="menu-button" aria-expanded="false" aria-haspopup="true">
            Filters
            <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>

    <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden" style="display: none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
            <!-- Active: "bg-gray-100 text-gray-900 outline-hidden", Not Active: "text-gray-700" -->
            <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-zinc-100" role="menuitem" tabindex="-1" id="menu-item-0">All</a>
            <a href="/?show=completed" class="block px-4 py-2 text-sm text-gray-700 hover:bg-zinc-100" role="menuitem" tabindex="-1" id="menu-item-1">Completed</a>
            <a href="/?show=uncompleted" class="block px-4 py-2 text-sm text-gray-700 hover:bg-zinc-100" role="menuitem" tabindex="-1" id="menu-item-2">Uncompleted</a>
        </div>
    </div>

    {% block js %}
        <script>
            const menuButton = document.getElementById('menu-button');
            const menuItems = document.querySelectorAll('[role="menuitem"]');

            menuButton.addEventListener('click', () => {
                const menu = document.querySelector('[role="menu"]');
                const isExpanded = menuButton.getAttribute('aria-expanded') === 'true';

                menuButton.setAttribute('aria-expanded', String(!isExpanded));
                menu.style.display = isExpanded ? 'none' : 'block';
            });

            menuItems.forEach((item) => {
                item.addEventListener('click', () => {
                    menuButton.setAttribute('aria-expanded', 'false');
                    document.querySelector('[role="menu"]').style.display = 'none';
                });
            });
        </script>
    {% endblock %}
</div>