{% extends 'base.html.twig' %}

{% block title %}New category{% endblock %}

{% block body %}
    <div class="w-full min-h-screen flex justify-center">
        <div class="max-w-5xl w-full h-full flex flex-col text-zinc-800">

            {{ include('category/_header.html.twig') }}

            <div class="w-full">
                <h2 class="text-2xl font-semibold">Create category</h2>
            </div>

            <div>
                {{ include('category/_form.html.twig', {'button_label': 'Create'}) }}
            </div>
        </div>
    </div>
{% endblock %}
